@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
input[type]:focus{
  box-shadow: 0 0 5px hsla(160, 100%, 37%, 1);
  border: 1px solid hsla(160, 100%, 37%, 1);
}

.required:after {
  content:" *";
  color: red;
}

th{
  font-weight: bold;
}

.table-body{
  overflow-x: auto;
  overflow-y: auto;
}

@media (min-width:992px){
  .form-group > label{
    display: flex;
    width: 12%;
  }
}

label{
padding-left: 0 !important;
padding-right: 0 !important;
}
label > div{
  width: 30% !important;
}

.btn-success:active{
  background-color: hsla(160, 100%, 37%, 1) !important;
  background-size: 100% !important;
  transition: background 0s !important;
}
.btn-danger:active{
  background-color: rgb(255, 108, 108) !important;
  background-size: 100% !important;
  transition: background 0s !important;
}
.btn-primary:active{
  background-color: rgb(108, 189, 255) !important;
  background-size: 100% !important;
  transition: background 0s !important;
}
@media (min-width: 992px) {
  .label{
    width: 140px !important;
  }  
}
